.maxBox {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-box {
    background: white;
    border: 5px solid #0047ff;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 #0047ff;
    width: 70vw;
    height: 60vh;
    display: flex;
}

.form-contact, .label-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-family: inherit;
}

.input-contact, textarea {
    background-color: white;
    border: 3px solid #0047ff;
    border-radius: 7px;
    color: black;
    font-weight: bold;

    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;

    font-family: inherit;
    padding: .6vh .5vw;
}

textarea {
    padding: .6vh .5vw;
}
.image-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-contact img{
    height: 50vh;
}
input.input-contact[type="submit"] {
    width: 20%;
    border-radius: 7px;
    font-size: 16px;
}