.background {
    background-image: linear-gradient(180deg, #000096 25%, #0097ff 110%) !important;
    background-size: 100% auto;

    display: flex;
    align-items: center;
    height: 65vh;
}

.main-content h2 {
    color: rgb(255, 255, 255);
    font-size: 57px;
    text-align: left !important;
    border: 0;
    padding: 0;
    padding-bottom: 1vh;
}
.main-content p {
    color: rgba(255, 255, 255, 0.807);
    padding-top: 1.5vh;
    padding-left: 0;
    font-size: 18px;
}
.mtop {
    padding-top: 10vh;
    padding-bottom: 0vh;
}
.main-content {
    position: relative;
    display: flex;
    width: 85vw;
    justify-content: center;
    align-items: center;
}
.second h2{
    font-size: 36px;
    color: black !important;
}
.second p {
    color: rgb(69, 69, 69) !important
}
.text {
    width: 40vw;
}
.image {
    width: 30vw;
}
.image img {
    width: 100%;
}
.dezvolta {
    background-color: #000096;
    width: 100vw;
    height: 32vh;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    font-family: Arial, sans-serif !important;
    font-weight: bold;
    padding-bottom: 10vh;
    justify-content: center;
}
.dezvolta-1 {
    width: 30vw;
    margin-top: -1vh;
    font-size: 45px;
    margin-left: 17vw;
}
.p5 {
    height: 5vh;
}
.image-2 {
    margin-left: 0vh;
    margin-right: 12vw;
    padding-top: 7vh;
    width: 22vw;
}
.image-2 img {
    width: 100%;
}
.dezvolta-2 {
    position: relative;
    margin-top: 3vh;
    color: rgba(255, 255, 255, 0.807);
    width: 40vw;
    margin-right: 10vw;
    font-size: 17px;
}
.home-try {
    position: absolute;
    bottom: -10vh;
    border-radius: 5px;
    width: 7.5vw;
    left: 0;
}
.second-2 {
    margin-right: 0vw;
}