.background {
    background-image: linear-gradient(180deg, #000096 25%, #0097ff 110%) !important;
    background-size: 100% auto;
    height: 65vh;
    transition: box-shadow 0.25s ease-in-out 0.1s;

    display: grid;
    place-items: center;
}

p {
    font-family: Inter;
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
