.background {
    background-image: linear-gradient(180deg, #000096 25%, #0097ff 110%) !important;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    height: 65vh;
}

.main-content h2 {
    color: rgb(255, 255, 255);
    font-size: 57px;
    border: 0;
    padding: 0;
}
.main-content p {
    color: rgba(255, 255, 255, 0.807);
    padding-top: 1.5vh;
    font-size: 23px;
}
.mtop {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.main-content {
    position: relative;
    display: flex;
    width: 85vw;
    justify-content: center;
    align-items: center;
}
.second h2{
    font-size: 40px;
    color: black !important;
}
.second p {
    color: rgb(69, 69, 69) !important
}
.text {
    width: 40vw;
}
.image {
    width: 30vw;
}
.image img {
    width: 100%;
}