.title {
    height: 20vh;
    width: 85vw;
    color: black;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
}
.mainPricing {
    width: 90vw;
    margin-bottom: 10vh;
}