footer {
    margin-top: 10vh;
    position: relative;
}
.license {
    color: rgba(255, 255, 255, 0.829);
    position: absolute;
    bottom: 1vh;
    text-align: center;
    width: 100vw;
    font-size: 15px;
}