.grid-container {
    margin-top: 5vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 12vh;
    font-family: unifysans, helvetica, arial, lato, sans-serif !important;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    justify-content: center;
}
.grid-item {
    width: 100%;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}
.flex {
    display: flex;
}
.big-number {
    font-size: 30px;
    text-align: left;
    margin-left: .5vw;
}
.item-1-text {
    font-size: 13px;
    margin-left: 0.5vw;
    letter-spacing: .5px;
    color: gray;
}
.grid-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-item-2 h2 {
    position: absolute;
    color: black;
    top:0 ;
    padding-top: 2vh;
    margin-left: -.2vw;
    font-size: 20px;
}
.item-1 {
  margin-left: 1vw;  
}
.item-2-row-1 {
    position: relative;
    flex-direction: column;
    height: 100%;
    padding-left: 1vw;
    gap: .8vh;
    justify-content: center;
}
.item-2-row-1 .big-number,.item-2-row-2 .big-number {
    margin-left: 0 ;
}
.item-2-row-2 {
    position: relative;
    justify-content: center;
    gap: .8vh;
    flex-direction: column;
    padding-left: 1vw;
    height: 100%;
}
.pericol {
    background: #ffebee; /* Roșu deschis pentru fundal */
    border: 2px solid #ff4444; /* Roșu aprins pentru bordură */
    border-radius: 8px;
}
.danger-symbol {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -1vh;
    right: -1vw;
  }
  .buttongrid {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ff5400; /* Portocaliu */
    background-color: transparent;
    border: 2px solid #ff5400;
    border-radius: 5px; /* Rotunjire */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.buttongrid:hover {
    background-color: #ff5400;
    color: white;
}
.button.grid {
    position: absolute;
    right: 10%;
    border-radius: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 3vh 2vw;
    position: relative;
    border-radius: 8px;
    width: 40vw;
    height: 18vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1vh;
}
.modal-header h2{
    border: 0;
}
.modal-close {
    background: none;
    position: absolute;
    border: none;
    top: 2vh;
    right: 1vw;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 0 0.5rem;
}

.button.grid-modal {
    right: 10%;
    border-radius: 10px;
}

.modal-body {
    display: flex;
}