.header {
    height: 10.5vh;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
    font-family: unifysans, helvetica, arial, lato, sans-serif !important;
    font-size: 17px;
    display: flex;
    position: relative;
    letter-spacing: .45px;
    justify-content: space-around;
    align-items: center;
    font-weight: normal;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.logoheader {
    margin-left: 5vw;
    margin-right: 0;
}
.leftSide
{
    display: flex;
}
.leftSide .logoheader {
    margin-right: 3vw;
}
.rightSide .textSectiuni {
    gap: 1.5vw;
}
ul {
    display: flex;
    align-items: center;
    gap: 2vw;
}
ul li {
    list-style: none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .3s;
}
.listSectiuni:hover {
    cursor: pointer;
}
.listSectiuni:hover {
    color: #0047ff;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ff5400; /* Portocaliu */
    background-color: transparent;
    border: 2px solid #ff5400;
    border-radius: 25px; /* Rotunjire */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-color: #ff5400;
    color: white;
}
.buttoninvert {
    color: white !important;
    background-color: #ff5400 !important;
}
.buttoninvert:hover {
    background-color: transparent !important;
    color: #ff5400 !important;
}
.logo-w {
    height: 12vh;
}
li.listSectiuni {
    display: flex;
    position: relative;
    align-items: center;
    transition: .3s;
    height: 10.5vh;
}
li.listSectiuni::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    transition: .3s;
    width: 100%;
    background-color: transparent;
}
li.listSectiuni:hover::after {
    background-color: #0047ff;
}
.w-letter { fill: #2d6ae2; }
        .cross-line { stroke: #ff6b35; stroke-width: 8; }
        .text { font-family: Arial, sans-serif; font-size: 48px; font-weight: bold; fill: #2d6ae2; }
li.active::after {
    background-color: #0047ff;
}