.warr-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.warr-entry {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80vw;
    height: 3vh;
    justify-content: stretch;
    border-top: 2px solid rgba(50, 50, 50, 0.691);
    border-left: none;
    border-right: none;
}
.warr-line:hover {
    cursor: pointer ;
}
.warr-container:last-child {
    border-bottom: 2px solid rgba(50, 50, 50, 0.691);
    width: 80vw;  
}

.warr-entry:hover {
    background-color: rgba(144, 141, 141, 0.521);
}

.warr-element-prdName {
    justify-content: center;
}
.modal-war {
    position: absolute;
    bottom: 20%;
    right: 10%;
    border-radius: 5px;
    width: 5vw;
}
.modal-war-2 {
    position: absolute;
    width: 5vw;
    border-radius: 5px;
    right: 10%;
    bottom: 45%;
}
.modal-details {
    position: relative;
    top: 25%;
}
.warr-element-dataCump {
    justify-content: center;
}

.warr-element-dataExp {
    justify-content: center;
}

.warr-element-com {
    justify-content: center;
}
.warr-line li {
    width: 20vw;
}

.warr-header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80vw;
    height: 3vh;
    justify-content: stretch;
    margin-bottom: 7px;
}

.warr-header li {
    width: 20vw;
}